@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.font-display {
  font-family: var(--font-space-grotesk), sans-serif;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #ff0000 !important;
  border-radius: 999px;
  border: none !important;
}

::-webkit-scrollbar-button {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  background: #0E1111
}
